<h1>List</h1>

Python has a great built-in list type named "list". List literals are written within square brackets [ ]. Lists work similarly to strings -- use the len() function and square brackets [ ] to access data, with the first element at index 0.

In [1]:
colors = ['red', 'blue', 'green']
print (colors[0])    ## red
print (colors[2] )   ## green
print (len(colors))  ## 3

red
green
3
ERROR! Session/line number was not unique in database. History logging moved to new session 60

In [0]:
b = colors   ## Does not copy the list

In [6]:
#check memory location
print(hex(id(colors)))
print(hex(id(b)))

0x7f3dcebb4e88
0x7f3dcebb4e88

Python's *for* and *in* constructs are extremely useful, and the first use of them we'll see is with lists. The *for* construct -- for var in list -- is an easy way to look at each element in a list (or other collection). Do not add or remove from the list during iteration.

In [7]:
    squares = [1, 4, 9, 16]
  sum = 0
  for num in squares:
    sum += num
  print(sum)  ## 30

30
ERROR! Session/line number was not unique in database. History logging moved to new session 61

If you know what sort of thing is in the list, use a variable name in the loop that captures that information such as "num", or "name", or "url". Since Python code does not have other syntax to remind you of types, your variable names are a key way for you to keep straight what is going on.

The *in* construct on its own is an easy way to test if an element appears in a list (or other collection) -- value in collection -- tests if the value is in the collection, returning True/False.

In [8]:
list = ['larry', 'curly', 'moe']
if 'curly' in list:
  print('yay')

yay
ERROR! Session/line number was not unique in database. History logging moved to new session 62

In [9]:
for i in range(100):
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [11]:
 a= range(50)
 i = 0
while i < len(a):
  print(a[i])
  i = i + 3

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [0]:
a=[23,34,45,46,67]
a.append(23)

In [19]:
a

[23, 34, 45, 46, 67, 23]

In [0]:
a.insert(2,23)

In [21]:
a

[23, 34, 23, 45, 46, 67, 23]

In [22]:
a.index(23) #see first element

0

In [0]:
a.remove(23)

In [24]:
a.pop(-1)

23

<h1>Sorting</h1>

In [0]:
a = [2,3,7,1,8,4,9]
a.sort()

In [26]:
a

[1, 2, 3, 4, 7, 8, 9]

It's most common to pass a list into the sorted() function, but in fact it can take as input any sort of iterable collection. The older list.sort() method is an alternative detailed below. The sorted() function seems easier to use compared to sort(), so I recommend using sorted().

The sorted() function can be customized through optional arguments. The sorted() optional argument reverse=True, e.g. sorted(list, reverse=True), makes it sort backwards.

In [27]:
strs = ['aa', 'BB', 'zz', 'CC']
print (sorted(strs))  ## ['BB', 'CC', 'aa', 'zz'] (case sensitive)
print (sorted(strs, reverse=True))   ## ['zz', 'aa', 'CC', 'BB']

['BB', 'CC', 'aa', 'zz']
['zz', 'aa', 'CC', 'BB']
ERROR! Session/line number was not unique in database. History logging moved to new session 64

In [28]:
strs = ['ccc', 'aaaa', 'd', 'bb']
print (sorted(strs, key=len))  ## ['d', 'bb', 'ccc', 'aaaa']

['d', 'bb', 'ccc', 'aaaa']

In [29]:
print(sorted(strs, key=str.lower))

['aaaa', 'bb', 'ccc', 'd']

In [30]:
 ## Say we have a list of strings we want to sort by the last letter of the string.
strs = ['xc', 'zb', 'yd' ,'wa']

## Write a little function that takes a string, and returns its last letter.
## This will be the key function (takes in 1 value, returns 1 value).
def MyFn(s):
  return s[-1]

## Now pass key=MyFn to sorted() to sort by the last letter:
print (sorted(strs, key=MyFn))  ## ['wa', 'zb', 'xc', 'yd']

['wa', 'zb', 'xc', 'yd']

<h1><b>Tuples</b></h1>

A tuple is a fixed size grouping of elements, such as an (x, y) co-ordinate. Tuples are like lists, except they are immutable and do not change size (tuples are not strictly immutable since one of the contained elements could be mutable). Tuples play a sort of "struct" role in Python -- a convenient way to pass around a little logical, fixed size bundle of values. A function that needs to return multiple values can just return a tuple of the values. For example, if I wanted to have a list of 3-d coordinates, the natural python representation would be a list of tuples, where each tuple is size 3 holding one (x, y, z) group.

In [32]:
tuple = (1, 2, 'hi')
print (len(tuple))  ## 3
print (tuple[2])    ## hi
#tuple[2] = 'bye'  ## NO, tuples cannot be changed
tuple = (1, 2, 'bye')  ## this works

3
hi

It's a funny case in the syntax, but the comma is necessary to distinguish the tuple from the ordinary case of putting an expression in parentheses. In some cases you can omit the parenthesis and Python will see from the commas that you intend a tuple.

Assigning a tuple to an identically sized tuple of variable names assigns all the corresponding values. If the tuples are not the same size, it throws an error. This feature works for lists too.

In [34]:
(x, y, z) = (42, 13, "hike")
print (z)  ## hike
#(err_string, err_code) = Foo()  ## Foo() returns a length-2 tuple

hike

<h1>List Comprehensions</h1>
List comprehensions are a more advanced feature which is nice for some cases but is not needed for the exercises and is not something you need to learn at first (i.e. you can skip this section). A list comprehension is a compact way to write an expression that expands to a whole list. Suppose we have a list nums [1, 2, 3, 4], here is the list comprehension to compute a list of their squares [1, 4, 9, 16]:

In [0]:
 nums = [1, 2, 3, 4]

squares = [ n * n for n in nums ]   ## [1, 4, 9, 16]